
<div class="search-container">
  <input type="text" placeholder="Buscar..." [(ngModel)]="searchQuery" />  </div>
  <div class="carousel-container">
  <ngb-carousel *ngIf="participants.length > 0" >
    <ng-template ngbSlide *ngFor="let participant of filteredParticipants(); let i = index">
      <div class="card">
        <h3>{{ participant.name }}</h3>
        <p>{{ participant.email }}</p>
        <p>{{ participant.phone }}</p>
      </div>
    </ng-template>
    
    
  </ngb-carousel>
</div>

      <a href="javascript:void(0)" class="add-button" (click)="openAddParticipantModal()">+</a>

  
  
  <ng-template #addParticipantModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Agregar Participante</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="participantForm">
        <div class="form-group">
          <label for="name">Nombre</label>
          <input type="text" class="form-control" id="name" formControlName="name">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" formControlName="email">
        </div>
        <div class="form-group">
          <label for="phone">Teléfono</label>
          <input type="text" class="form-control" id="phone" formControlName="phone">
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Cerrar</button>
      <button type="button" class="btn btn-primary" (click)="submitParticipant()">Guardar</button>
    </div>
  </ng-template>
  