<div class="search-container">
    <input type="text" placeholder="Buscar..." />
  </div>
  
  <div class="card-container">
    <div class="navigation">
      <a href="#previous" class="arrow">«</a>
    </div>
    
    <!-- Las tarjetas de información de los monitores -->
    <div class="card">
      <img src="path_to_icon" alt="Ícono de perfil" />
      <h3>Miguel Goyena</h3>
    <p>miguel_goyena&#64;cuatrovientos.org</p>
      <p>6432341313</p>
    </div>
    
    <div class="card">
      <img src="path_to_icon" alt="Ícono de perfil" />
      <h3>Lurdes Domínguez</h3>
      <p>ldominguez&#64;gmail.com</p>
      <p>6432341313</p>
    </div>
    
    <div class="card">
      <img src="path_to_icon" alt="Ícono de perfil" />
      <h3>Joaquín Rodríguez</h3>
      <p>jrodrig&#64;hotmail.es</p>
      <p>6432341313</p>
    </div>



    <div class="navigation">
        <a href="#next" class="arrow">»</a>
      </div>


    <a href="#add" class="add-button">+</a>
  </div>
  
