      <div class="container mt-4">
        <div class="row">
            <div class="col-md-4">


                <ngbd-datepicker-basic></ngbd-datepicker-basic>
          
          
              
              </div>
            <div class="col-md-8">

                <div id="mes" class="card">
                    <div class="card-body">
                        <div class="month-navigator text-center">
                            <span class="arrow left-arrow">&lt;</span>
                            <h2>{{ date | date: 'MMMM y' }}</h2>
                            <span class="arrow right-arrow">&gt;</span>
                        </div>
                    </div>
                </div>
            
                <div class="card card-4v">
                    <div class="card-header card-header-4v">
                        <h5 class="card-title">10:00 - 11:30</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Miguel Goyena</p>
                    </div>
                </div>
                <div class="card card-4v bg-free">
                    <div class="card-header card-header-4v">
                        <h5 class="card-title">13:30 - 15:00</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">FREE</p>
                        <button type="button" class="btn btn-light btn-sm">+</button>
                    </div>
                </div>
                <!-- Repeat for other activities -->
            </div>
        </div>
    </div>