<nav class="navbar navbar-expand-lg">
    <div class="container">
      <!-- El logo y el texto estarán centrados dentro del enlace -->
      <a class="navbar-brand m-auto" href="#">
        4V GYM
      </a>
    </div>
  </nav>
    <div class="col-md-4">


        


    
    </div>
    <div class="col-md-8">
      <h2>7 Diciembre 2023</h2>
      <!-- Aquí irían las tarjetas de las actividades -->
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">10:00 - 11:30</h5>
          <p class="card-text">Miguel Goyena</p>
        </div>
      </div>
      <!-- Repite el div de arriba para cada actividad -->
      <div class="card mb-3 bg-success text-white">
        <div class="card-body">
          <h5 class="card-title">13:30 - 15:00</h5>
          <p class="card-text">LIBRE</p>
          <!-- Botón para agregar actividad -->
          <button type="button" class="btn btn-light btn-sm">+</button>
        </div>
      </div>
